[Unit]
Description=Haraka SMTP
After=network.target

[Service]
ExecStartPre=/bin/mkdir -p /var/log/haraka
User=root
WorkingDirectory=/usr/projects/temp/Haraka
ExecStart=/home/ubuntu/.nvm/versions/node/v23.11.1/bin/node haraka.js
Restart=always
RestartSec=10
StandardOutput=append:/var/log/haraka/app.log
StandardError=append:/var/log/haraka/app-error.log

[Install]
WantedBy=multi-user.target